<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="web_container.user">
	<select id="selectUser" resultType="UserVo">
		SELECT * FROM user;
	</select>

	<insert id="insertUser">
		INSERT INTO user(user_id, user_name, description, use_yn, reg_user) VALUE('choi202', '최은지', '사용자5', 'N', 'system')
	</insert>

	<update id="updateUser">
		UPDATE user55 SET description='사용자-홍길동' WHERE user_id = 'hong123';
	</update>

</mapper>